@charset "UTF-8";
/* Color List */
/* Smart Phone Based */
/* In Common */
* {
  vertical-align: middle;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  list-style: none;
}

html {
  font-size: 16px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 !important;
  margin: 0 !important;
}

body {
  background-color: #e1e1dc;
  /* 後から変更する */
  font-family: "ヒラギノ角ゴ Pro W3", 'YuGothic', serif;
  width: 100%;
  padding: 0;
  margin: 0;
}

.outer-container {
  margin: 0 10px;
}

@media screen and (min-width: 992px) {
  .outer-container {
    padding: 0 30px;
    max-width: 1280px;
    margin: 0 auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 2.8rem;
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 3.75rem;
  }
}

h2 {
  font-size: 2.25rem;
}

@media screen and (min-width: 992px) {
  h2 {
    font-size: 5rem;
  }
}

h3 {
  font-size: 1.6rem;
}

@media screen and (min-width: 992px) {
  h3 {
    font-size: 1.25rem;
  }
}

h4 {
  font-size: 1.5rem;
}

@media screen and (min-width: 992px) {
  h4 {
    font-size: 2rem;
  }
}

h6 {
  font-size: 1.5rem;
}

@media screen and (min-width: 992px) {
  h6 {
    font-size: 1rem;
  }
}

a {
  color: #000000;
  cursor: pointer;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

p {
  font-size: 1rem;
}

@media screen and (min-width: 992px) {
  p {
    font-size: 0.825rem;
  }
}

em {
  font-style: normal;
}

ul {
  padding-left: 0;
}

.twitter-icon a i {
  color: #1EA1F2;
}

.instagram-icon a i {
  color: #C437A4;
}

.github-icon a i {
  color: #000;
}

.html5-icon i {
  color: #DF4B25;
}

.css3-icon i {
  color: #214ADF;
}

.js-icon i {
  color: #F8D900;
}

.wp-icon i {
  color: #333333;
}

.php-icon i {
  color: #7578AE;
}

.service-icon i {
  color: #a28d69;
}

/* Header */
header {
  margin-top: 15px !important;
  z-index: 1;
}

header .header-left {
  float: left;
}

header .header-left a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

header .header-left img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  border: solid 2px #a28d69;
  display: inline-block;
}

header .header-left h6 {
  display: none;
  height: 50px;
  line-height: 50px;
  margin-left: 10px;
}

@media screen and (min-width: 992px) {
  header .header-left h6 {
    display: inline-block;
  }
}

header .header-right {
  display: none;
  position: fixed;
  z-index: 990;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(40, 47, 53, 0.99);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@media screen and (min-width: 992px) {
  header .header-right {
    display: block;
    float: right;
    position: unset;
    top: unset;
    left: unset;
    right: unset;
    width: auto;
    height: auto;
    background-color: transparent;
  }
}

header .header-right ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

@media screen and (min-width: 992px) {
  header .header-right ul {
    position: unset;
    top: unset;
    left: unset;
    -webkit-transform: unset;
            transform: unset;
    width: 101%;
    margin-top: 11px;
    margin-bottom: 11px;
  }
}

header .header-right ul li {
  font-size: 2rem;
  margin-top: 20px;
}

@media screen and (min-width: 992px) {
  header .header-right ul li {
    font-size: 1rem;
    display: inline;
    margin-top: 0;
  }
  header .header-right ul li + li {
    padding-left: 20px;
  }
}

header .humberger-wrap {
  display: block;
  z-index: 999;
  position: relative;
  float: right;
  padding-top: 10px;
  background-color: transparent;
}

@media screen and (min-width: 992px) {
  header .humberger-wrap {
    display: none;
  }
}

header .humberger-wrap .humberger {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 30px;
  cursor: pointer;
}

header .humberger-wrap .humberger span {
  display: inline-block;
  background-color: #a28d69;
  position: absolute;
  width: 100%;
  height: 5px;
  margin: 0;
  padding: 0;
  right: 0;
  -webkit-transform: rotate(0deg) translateY(0);
          transform: rotate(0deg) translateY(0);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  overflow: hidden;
}

header .humberger-wrap .humberger span:hover {
  background-color: rgba(162, 141, 105, 0.7);
}

header .humberger-wrap .humberger span:nth-child(1) {
  top: 0;
}

header .humberger-wrap .humberger span:nth-child(2), header .humberger-wrap .humberger span:nth-child(3) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .humberger-wrap .humberger span:nth-child(4) {
  top: 25px;
}

header .humberger-wrap .humberger.open span:nth-child(1) {
  width: 0%;
  top: 5px;
}

header .humberger-wrap .humberger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg) translateY(-0.5px);
          transform: rotate(45deg) translateY(-0.5px);
  top: 5px;
}

header .humberger-wrap .humberger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-0.5px);
          transform: rotate(-45deg) translateY(-0.5px);
  top: 5px;
}

header .humberger-wrap .humberger.open span:nth-child(4) {
  width: 0%;
  top: 5px;
}

/* First View */
.firstview {
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.firstview .fv-img {
  z-index: -1;
  position: fixed;
  top: 45%;
  left: 52%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.2;
}

.firstview .fv-text-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.firstview .scrollbtn {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.firstview .scrollbtn span::before {
  content: "";
  position: absolute;
  bottom: 45px;
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000000;
  -webkit-animation: circleupdown 4s linear infinite, circlevisible 4s ease-in-out infinite;
          animation: circleupdown 4s linear infinite, circlevisible 4s ease-in-out infinite;
}

@-webkit-keyframes circleupdown {
  0% {
    bottom: 45px;
  }
  50% {
    bottom: 25px;
  }
  60% {
    bottom: 30px;
  }
  70% {
    bottom: 25px;
  }
  75% {
    bottom: 27px;
  }
  80% {
    bottom: 25px;
  }
  100% {
    bottom: 25px;
  }
}

@keyframes circleupdown {
  0% {
    bottom: 45px;
  }
  50% {
    bottom: 25px;
  }
  60% {
    bottom: 30px;
  }
  70% {
    bottom: 25px;
  }
  75% {
    bottom: 27px;
  }
  80% {
    bottom: 25px;
  }
  100% {
    bottom: 25px;
  }
}

@-webkit-keyframes circlevisible {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1.0;
  }
  90% {
    opacity: 1.0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes circlevisible {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1.0;
  }
  90% {
    opacity: 1.0;
  }
  100% {
    opacity: 0;
  }
}

.firstview .scrollbtn span::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: 20px;
  height: 40px;
  border-radius: 50%;
  border: solid 2px #000000;
  background: transparent;
}

/* To Top Button */
.toTop {
  display: none;
}

.toTop a {
  background-color: transparent;
}

.toTop a i {
  vertical-align: text-top;
}

.showTopbtn {
  display: block;
  position: fixed;
  z-index: 2;
  right: 10px;
  bottom: 30px;
  font-size: 3rem;
}

@media screen and (min-width: 992px) {
  .showTopbtn {
    right: 30px;
    font-size: 4rem;
  }
}

/* Main */
.main .content {
  margin-top: 80px;
}

@media screen and (min-width: 992px) {
  .main h2 {
    text-align: left;
    margin-left: 100px;
  }
}

.main h2::after {
  display: inline-block;
  content: "";
  background-color: #000000;
  width: 4rem;
  height: 2px;
  margin-left: 10px;
  margin-top: 0.1rem;
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.con-second .second-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 50px;
}

@media screen and (min-width: 992px) {
  .con-second .second-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.con-second .second-wrapper .sec-left,
.con-second .second-wrapper .sec-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.con-second .second-wrapper .sec-left img {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.con-second .second-wrapper .sec-left .social-links {
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
}

.con-second .second-wrapper .sec-left .social-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.con-second .second-wrapper .sec-left .social-links ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.con-second .second-wrapper .sec-left .social-links ul li a i {
  font-size: 3rem;
}

@media screen and (min-width: 992px) {
  .con-second .second-wrapper .sec-left + .sec-right {
    margin-top: 10px;
  }
}

.con-second .second-wrapper .sec-right * {
  text-align: left;
}

.con-second .second-wrapper .sec-right p + p {
  margin-top: 30px;
}

.con-third .third-wrapper {
  width: 100%;
  margin-top: 50px;
}

.con-third .third-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 992px) {
  .con-third .third-wrapper ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.con-third .third-wrapper ul li {
  width: 100%;
}

.con-third .third-wrapper ul li + li {
  margin-top: 10px;
}

@media screen and (min-width: 992px) {
  .con-third .third-wrapper ul li {
    width: 33.3%;
    padding: 0 30px;
    margin: 0 0;
  }
  .con-third .third-wrapper ul li + li {
    margin-top: 0;
  }
  .con-third .third-wrapper ul li:nth-child(n+4) {
    margin-top: 30px;
  }
}

.con-third .third-wrapper ul li a {
  width: 100%;
  opacity: 1.0;
}

.con-third .third-wrapper ul li a:hover {
  opacity: 0.7;
}

.con-third .third-wrapper ul li a img {
  width: 100%;
  height: auto;
}

.con-third .detail-btn {
  text-align: right;
}

.con-third .detail-btn button {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 992px) {
  .con-third .detail-btn button {
    margin-right: 30px;
  }
}

.con-third .detail-btn button a {
  color: #a28d69;
}

.con-third .detail-btn button a:hover {
  color: rgba(162, 141, 105, 0.7);
}

.con-third .detail-btn button i {
  font-size: 1.5rem;
  margin-left: 3px;
}

.con-fourth .fourth-wrapper {
  width: 100%;
  margin-top: 50px;
}

.con-fourth .fourth-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 992px) {
  .con-fourth .fourth-wrapper ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.con-fourth .fourth-wrapper ul li {
  width: 100%;
  margin-top: 10px;
}

.con-fourth .fourth-wrapper ul li:nth-child(n+5) {
  margin-top: 0;
}

@media screen and (min-width: 992px) {
  .con-fourth .fourth-wrapper ul li:nth-child(n+5) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 992px) {
  .con-fourth .fourth-wrapper ul li {
    width: 25%;
    padding: 0 30px;
    margin-top: 0;
  }
}

.con-fourth .fourth-wrapper ul li .skill-icon {
  font-size: 2rem;
  width: 50%;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px rgba(162, 141, 105, 0.2);
          box-shadow: 3px 3px rgba(162, 141, 105, 0.2);
}

@media screen and (min-width: 992px) {
  .con-fourth .fourth-wrapper ul li .skill-icon {
    width: 100%;
  }
}

.con-fifth .fifth-wrapper {
  width: 100%;
  margin-top: 50px;
}

.con-fifth .fifth-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.con-fifth .fifth-wrapper ul li {
  width: 80%;
  padding: 0 10px 10px 10px;
  margin: 0 auto;
  position: relative;
  background-color: #d0d0cb;
}

.con-fifth .fifth-wrapper ul li + li {
  margin-top: 50px;
}

.con-fifth .fifth-wrapper ul li p {
  margin-top: 10px;
}

.con-fifth .fifth-wrapper ul li .service-icon {
  position: absolute;
  top: -40px;
  left: 50%;
  width: 5rem;
  height: 5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  background-color: #fff;
}

.con-fifth .fifth-wrapper ul li .service-icon i {
  font-size: 3rem;
  padding-top: 1rem;
}

.con-fifth .fifth-wrapper ul li h4 {
  margin-top: 50px;
}

.con-sixth .sixth-wrapper {
  width: 100%;
  margin-top: 50px;
}

@media screen and (min-width: 992px) {
  .con-sixth .sixth-wrapper form {
    width: 65%;
    margin: 0 auto;
  }
}

.con-sixth .sixth-wrapper form * {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.con-sixth .sixth-wrapper form legend {
  font-size: 2rem;
  padding: 0 5px;
}

@media screen and (min-width: 992px) {
  .con-sixth .sixth-wrapper form legend {
    font-size: 2.5rem;
  }
}

.con-sixth .sixth-wrapper form label {
  margin-top: 20px;
  padding-left: 5px;
}

.con-sixth .sixth-wrapper form input[type=text],
.con-sixth .sixth-wrapper form input[type=email],
.con-sixth .sixth-wrapper form textarea {
  padding: 0 5px;
}

.con-sixth .sixth-wrapper form input[type=submit] {
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.con-sixth .sixth-wrapper form label.error {
  margin-top: 10px;
  color: red;
}

.con-sixth .sixth-aside {
  margin-top: 50px;
}

.con-sixth .sixth-aside p {
  display: inline;
}

.con-sixth .sixth-aside ul {
  padding: 0;
  margin: 0;
}

.con-sixth .sixth-aside ul li {
  display: inline;
  font-size: 2rem;
}

.con-sixth .sixth-aside ul li + li {
  padding-left: 20px;
}

/* Works Page */
.firstview-works {
  height: 50vh;
}

.firstview-works .fv-img {
  z-index: -1;
  position: fixed;
  top: calc(45% / 2);
  left: 52%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
  opacity: 0.2;
}

.firstview-works .fv-text-wrap {
  position: absolute;
  top: calc(50% / 2);
  left: 50%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
}

.con-works {
  margin-top: 0 !important;
}

.con-works .works-wrapper {
  width: 100%;
  margin-top: 0;
}

@media screen and (min-width: 992px) {
  .con-works .works-wrapper {
    margin-top: 50px;
  }
}

.con-works .works-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 992px) {
  .con-works .works-wrapper ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.con-works .works-wrapper ul li {
  width: 100%;
}

.con-works .works-wrapper ul li + li {
  margin-top: 10px;
}

@media screen and (min-width: 992px) {
  .con-works .works-wrapper ul li {
    width: 33.3%;
    padding: 0 30px;
    margin: 0 0;
  }
  .con-works .works-wrapper ul li + li {
    margin-top: 0;
  }
  .con-works .works-wrapper ul li:nth-child(n+4) {
    margin-top: 30px;
  }
}

.con-works .works-wrapper ul li a {
  width: 100%;
  opacity: 1.0;
}

.con-works .works-wrapper ul li a:hover {
  opacity: 0.7;
}

.con-works .works-wrapper ul li a img {
  width: 100%;
  height: auto;
}

/* Works Detail Page */
.firstview-work-detail {
  height: 50vh;
}

.firstview-work-detail .fv-img {
  z-index: -1;
  position: fixed;
  top: calc(45% / 2);
  left: 52%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
  opacity: 0.2;
}

.firstview-work-detail .fv-text-wrap {
  position: absolute;
  top: calc(70% / 2);
  left: 52%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
}

.con-work-detail {
  margin-top: 0 !important;
}

.con-work-detail .detail-wrapper {
  width: 100%;
  margin-top: 0;
}

@media screen and (min-width: 992px) {
  .con-work-detail .detail-wrapper {
    margin-top: 50px;
  }
}

.con-work-detail .detail-wrapper .work-img-wrapper {
  width: 80%;
  margin: 0 auto;
}

.con-work-detail .detail-wrapper .work-img-wrapper img {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  -webkit-box-shadow: 15px 10px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 15px 10px 3px rgba(0, 0, 0, 0.2);
}

.con-work-detail .detail-wrapper ul {
  margin-top: 80px !important;
}

.con-work-detail .detail-wrapper ul li + li {
  margin-top: 50px !important;
}

.con-work-detail .detail-wrapper .work-detail-text li {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #d0d0cb;
}

@media screen and (min-width: 992px) {
  .con-work-detail .detail-wrapper .work-detail-text li {
    width: 80%;
  }
}

.con-work-detail .detail-wrapper .work-detail-text li p {
  margin-top: 10px;
}

.con-work-detail .detail-wrapper .show-all-images-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 992px) {
  .con-work-detail .detail-wrapper .show-all-images-work {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 80px;
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
}

.con-work-detail .detail-wrapper .show-all-images-work li {
  text-align: left;
}

@media screen and (min-width: 992px) {
  .con-work-detail .detail-wrapper .show-all-images-work li + li {
    margin-top: 0 !important;
  }
}

.con-work-detail .detail-wrapper .show-all-images-work li span {
  margin-left: 15px;
}

@media screen and (min-width: 992px) {
  .con-work-detail .detail-wrapper .show-all-images-work li span {
    margin-left: 30px;
  }
}

.con-work-detail .detail-wrapper .show-all-images-work li img {
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 15px 10px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 15px 10px 3px rgba(0, 0, 0, 0.2);
}

.con-work-detail .detail-wrapper .show-all-images-work li .work-pc {
  max-width: 600px;
}

.con-work-detail .detail-wrapper .show-all-images-work li .work-sp {
  max-width: 300px;
}

.con-work-detail .detail-wrapper .show-all-images-work li .work-tb {
  max-width: 400px;
}

.con-work-detail .detail-wrapper .work-detail-info p {
  margin-top: 20px;
}

.con-work-detail .detail-wrapper .work-detail-info p a {
  opacity: 0.7;
}

.con-work-detail .detail-wrapper .work-detail-info p a:hover {
  opacity: 1.0;
  text-decoration: underline;
}

/* Form Complete */
.fv-form-comp {
  height: 60vh;
}

.fv-form-comp .fv-text-wrap-form {
  top: 40%;
}

.fv-text-wrap-form p {
  margin-top: 20px;
}

.fv-text-wrap-form .backlink a {
  color: #a28d69;
}

.fv-text-wrap-form .backlink a:hover {
  opacity: 0.5;
}

/* Footer */
footer {
  width: 100%;
  margin-top: 80px !important;
  padding-top: 50px;
  background-color: #d0d0cb;
}

footer .menu-links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 992px) {
  footer .menu-links-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

footer .menu-links-wrapper .links-list {
  width: 100%;
  padding-left: 30px;
}

@media screen and (min-width: 992px) {
  footer .menu-links-wrapper .links-list {
    width: 20%;
  }
}

footer .menu-links-wrapper .links-list h5, footer .menu-links-wrapper .links-list li {
  text-align: left;
}

footer .menu-links-wrapper .links-list h5 {
  color: #a28d69;
}

footer .menu-links-wrapper .social-link-list ul li i {
  font-size: 1rem;
  margin-right: 3px;
}

footer em {
  color: #e1e1dc;
  font-size: 1rem;
  background-color: rgba(25, 25, 25, 0.8);
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  margin-top: 40px;
}
/*# sourceMappingURL=style.css.map */
